@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    scroll-behavior: smooth;
}

/*--------------------------------navbar styles ---------------------*/
a, a:hover {
    text-decoration: none;
    color: unset;
    text-emphasis: none;
}

header {
    height: 72px;
    background-color: #fff;
    border-bottom: solid 1px ;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav {
    display: flex;
    max-width: 100% - 25px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: block;
    display: flex;
}

.navagation-container {
    display: flex;
}

.navagation-container a {
    margin-left: 42px;
    color: #241249;
    font-size: 16px;
}

.navagation-container a:hover {
    font-weight: bold;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #241249;
}

.photo-perfil img {
    width: 54px;
    border-radius: 50%;
    border: solid #5127A4 2px;
}

.perfil-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 200px;
}

.name-perfil {
    font-size: 16px;
    font-weight: bold;
    color: #241249;
    cursor: pointer;
}

/* ------------------------------------ content-login styles -------------------------------*/

section {
    padding-top: 126px;
}

.content-container {
    width: calc(100% - 82px);
    height: 450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-text {
    width: 700px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text {
    font-size: 64px;
    font-weight: bold;
    color: #241249;
}

.content-text p {
    font-size: 32px;
    font-weight: 500;
    color: #241249;
}

.name-text {
    font-size: 32px;
    font-weight: bold;
    color: #5127A4;
}

.form-container {
    width: 607px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control {
    width: 500px;
    height: 50px;
    margin-top: 25px;
}

.form-input {
    height: 60px;
    width: 100%;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 14px;
    border: 0;
    list-style: none;
    background-color: #d9d9d9;
}

.form-control label {
    display: none;
    visibility: hidden;
}

.form-input::placeholder {
    color: #b2b2b2;
    font-size: 16px;
    font-weight: 500;
}

.btn-access {
    width: 317px;
    height: 60px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #5127A4;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
    border: none;
}

.form-container h3 {
    font-size: 64px;
    font-weight: bold;
    color: #241249;
}




