@charset "utf-8";

main{
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inicio{
    display: flex;
    flex-direction: column;
    border: solid;
    width: 42vw;
    height: 42vh;
    margin: 6rem;
    
}

p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #5127A4;
}

form{
    font-weight: bold;
    color: #5127A4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1.5rem;
}

form button{
    margin: 1.5rem;
}

#search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
}

