<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Psicólogo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Cadastro de Psicólogo</h1>
        <div class="row mt-5">
            <div class="col"></div>
            <div class="col">
                <form id="psicologoForm">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Senha:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="cpf">CPF:</label>
                        <input type="text" class="form-control" id="cpf" name="cpf" required>
                    </div>
                    <div class="form-group">
                        <label for="license">Licença:</label>
                        <input type="text" class="form-control" id="license" name="license" required>
                    </div>
                    <div class="form-group">
                        <label for="birthDate">Data de Aniversario:</label>
                        <input type="date" class="form-control" id="birthDate" name="birthDate" required>
                    </div>
                    <div class="form-group">
                        <label for="uriPhoto">URI da Foto:</label>
                        <input type="text" class="form-control" id="uriPhoto" name="uriPhoto">
                    </div>
                    <button type="button" class="btn btn-primary" onclick="submitForm()">Cadastrar</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <script>
        function submitForm() {
            var form = document.getElementById("psicologoForm");
            var data = {};
            var elements = form.elements;
            for (var i = 0; i < elements.length; i++) {
                var item = elements.item(i);
                if (item.nodeName === "INPUT") {
                    data[item.name] = item.value;
                }
            }
            var json = JSON.stringify(data);
            console.log(json); // Para verificar no console do navegador

            // Requisição Fetch para enviar os dados para o backend
            fetch("/therapists", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: json
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = "/"; // Redireciona para o index em caso de sucesso
                } else {
                    return response.json().then(errorData => {
                        throw new Error(errorData.message || "Erro ao cadastrar terapeuta");
                    });
                }
            })
            .catch(error => {
                console.error("Erro ao enviar requisição:", error);
                alert("Erro: " + error.message); // Exibe uma mensagem de erro
            });
        }
    </script>
</body>
</html>
