<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Seleção de Tipo de Usuário</title>
    <link rel="stylesheet" th:href="@{/css/escolha.css}">
</head>
<body>
    <div class="container">
        <h1 class="escolha-title">Selecione o Tipo de Usuário</h1>
        <div class="row">
            <div class="col text-center">
                <form th:action="@{/cadastro/paciente}" method="get">
                    <button class="btn-sign-in" type="submit">Paciente</button>
                </form>
            </div>
            <div class="col text-center">
                <form th:action="@{/cadastro/psicologo}" method="get">
                    <button class="btn-sign-in" type="submit">Psicólogo</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>